<section class="account-wrapper">

    <div class="account-wrapper__box">
       <form>
        <h1>Reset Account Information</h1>

        <div>
            <label for="password">Password</label>
            <input id="password" type="password">
        </div>
        <div>
            <label for="confirmPassword">Password</label>
            <input id="confirmPassword" type="password">
        </div>

        <button type="submit">Reset</button>
       </form>

       <div class="login">
            <p>Already have an account ? <a routerLink="/">Sign In</a></p>
       </div>
    </div>
</section>